body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(220, 48, 48);
    font-size: larger;
    background-color: rgb(178, 187, 138);
    
}

h1, h2 {
    color:rgb(87, 12, 62)
}

#highlight {
    background-color: rgb(93, 142, 44);
}

.emphasis {
    color: rgb(97, 51, 140);
    font-weight: bold;
}

.deemphasize {

    color: rgb(220, 48, 48);
    opacity: 0.6;
}
span {

    color: rgb(97, 51, 140);
    font-size: 18px;
}