body {
    font-family: Arial, Helvetica, sans-serif;
}

#parent {
    display: flex;
    flex-flow: row wrap;
}

nav {
    flex-direction: column;
    display: flex;
}

.card {
    background-color: rgb(73, 215, 215);
    margin: 3px;
    border: thin solid #161414;
    border-radius: 5px;
    width: 150px;
}