body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('bbb.png');
    background-size: cover;
    background-repeat: repeat;
    background-color: rgb(170, 170, 94);
}


.decorative {
    min-height: 120px;
    background-image: url(sakura-flower.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center top;
}

ul {
    list-style-image: url(sakura-flower.jpg);
}