body {

    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Kore.jpg), url(korea.jpg);
    background-repeat: repeat, no-repeat;
    background-position: left top, right center;
    
}
.home p {
    color: brown;
    font-weight: bold;
}

ul {
    list-style-image: url(custom1.jpg);
}

li {
    font-weight: bold;
}
nav a.current {
    color: red;
    font-weight: bold;
}